  body {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", sans-serif;
    background-image: url(images/map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: white;
  }

  html::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: -1;
  }

  header, main, footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  header {
    background-color: rgba(0, 0, 0, 0.5);
  }


  h1 {
    font-size: 3em;
  }

  section {
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2em;
    margin: 10px 0;
  }

  a {
    display: inline-block;
    text-decoration: none;
    color: rgb(93, 217, 255); 
    background-color: white;
    padding: 10px 20px;
    border-radius: 15px;
    transition: background-color 0.3s, transform 0.3s;
  }

  a:hover {
    background-color: whitesmoke; 
    color: black;
    transform: scale(1.1);
  }

  main {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin: 20px 0;
}

.box {
    padding: 50px;
    border: 1px solid #ccc;
    border-radius:40px;
    transition: transform 0.3s ease;
    background-color: grey;
    opacity: 0.85;
    
}

.box:hover {
    transform: scale(1.05);
}

.content {
    text-align: center;
}

.content h2 {
    margin-top: 0;
}

.content img {
    width: 100%;
    max-width: 200px;
    margin: 10px auto;
    display: block;
}

.learn-more {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.learn-more:hover {
    background-color: #0056b3;
}

  footer {
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
  }

  .search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke; 
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .search-button:hover {
    background-color: gainsboro    ; 
    transform: scale(1.05);
  }
  
  footer {
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    width: 100%;
    padding: 10px 0;
  }
  
  input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 250px;
  }


  .country-info-container {
    display: flex;
    flex-direction: row;
    text-align: justify;
}

.country-info {
  flex: 1;
    margin-right: 20px;
}

.country-flag {
    width: 350px;
    height: auto;
    float: right;
}

.container {
  width: 80%; 
  margin: 0 auto;
  padding: 20px;
  background-color: gainsboro; 
  border: 1px solid #ccc; 
  opacity: 0.7;
  box-sizing: border-box; 
  border-radius: 10px;
  color: black;
}